{{extend 'layout.html'}}
<p>Crear usuario</p>
<form method="POST">
    Nombre:
    <input type="text" name="nombre"></br>
    Apellido Paterno
    <input type="text" name="apat"></br>
    Apellido Materno
    <input type="text" name="amat"></br>
    Edad
    <input type="text" name="edad"></br>
    Sexo
    <input type="text" name="sexo"></br>
    <input type="submit" value="guardar">
</form>
