{{extend 'layout.html'}}
<p>Editar usuario</p>
<form method="POST">
    ID: {{=row_usuarios.id}}</br>
    Nombre:
    <input type="text" name="nombre" value="{{=row_usuarios.nombre}}"></br>
    Apellido Paterno
    <input type="text" name="apat" value="{{=row_usuarios.apat}}"></br>
    Apellido Materno
    <input type="text" name="amat" value="{{=row_usuarios.amat}}"></br>
    Edad
    <input type="text" name="edad" value="{{=row_usuarios.edad}}"></br>
    Sexo
    <input type="text" name="sexo" value="{{=row_usuarios.sexo}}"></br>
    <input type="submit" value="Actualizar">
</form>
